.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


:root {
	--userfont: roboto-st, sans-serif;
}



body {
	font-family: var(--userfont);
	/* height: 100%;
	width: 100%;  */
	/* background-color: #e21515; */
} 

.showcase {
	background-color: #cbdee6;
	height: 100%;
	width: 100%;
  text-align: center;
}

li {
	display: inline-block;
	list-style: none;
	margin: 5px;
	padding: 10px 20px;
}
li a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
	color: var(--accent);
	position: relative;
	transition: all 0.5s ease;
	font-weight: 700;
}
li:hover a:after {}
li:hover a {
	text-shadow: 0 2px 20px rgba(0, 0, 0, 0.9);
} 
